!!!
%html
  %head
    %title WebDJ
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "//cdnjs.cloudflare.com/ajax/libs/require.js/2.1.1/require.min.js"
    = javascript_include_tag "main"
    = csrf_meta_tags

  %body
    .header
      .name
        %h1= @title || "party Rooms"
      %a.logo{:href => root_url}
        =image_tag 'logo.png'
      .stripes
        .stripe.top
        .stripe.middle
          %p{'data-bind' => 'text: activeUsers() + " " + (activeUsers() === 1 ? "person" : "people")'}
        .stripe.bottom
          %p{'data-bind' => 'text: songs().length + " " + (songs().length === 1 ? "song" : "songs")'}
    .container-fluid
      - if notice
        %p.alert.alert-info= notice
      - if alert
        %p.alert.alert-error= alert
      = yield
